@font-face {
  font-family: DFPOP1-W9;
  src: url('DFPOP1-W9.ttf') format('ttf');
}


body{
	

  font-family: arial;
}
.uppper{
  background-image: url('bg_black.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: repeat;

}
.lower{
  background-image: url('bg_yellow.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: repeat;
  padding-top: 10%;
	padding-bottom: 10%;
}

.logo{

	margin-top: 5rem;
}
.mainbody {
	min-height: 1000px;
	background-color: #fff;
	margin-top: 5rem;
}
.footer{
margin-top: 3rem;
margin-bottom: 15rem;
font-family: arial;
color: #fff;
}

.postdiv{
	color: #8b8b8b;
	padding-top: 7rem;

}

.tmb {

   filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%);

  /*-webkit-transition: scale .5s ease-in-out;*/
  border: 12px solid #21252900;
}
.tmb:hover {
  filter: none;
  -webkit-filter: none;
      /*background: #e1e1e1;*/
  border: 12px solid #feff0e;
   /*-webkit-transform: scale(1.1);*/
}

.modal-dialog {
  max-width: 580px;
  margin: 30px auto;
}

.modal-body {
  position: relative;
  padding: 10px;
}
.close {
  position: absolute;
  right: 5px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  opacity: 1;
  border: none;
  background: none
}
